/* TODO: design your profile with CSS */
body{
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(80,80,80);
  background-color: rgb(235,235,235);
  margin: 25px;
}
h1{
  font-size: 25px;
  color: rgb(50,50,50);
}
h2{
  font-size: 20px;
  color: rgb(120,120,120);
}
h3{
  font-size: 15px;
  color: rgb(70,70,70);
}
h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}
p{
  font-weight: normal
}
a{
  text-decoration: none;
  color: #50808E;
}
a:hover{
  color: rgb(20,20,20);
}
.fab{
  padding-right: 5px;
}
.social ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.social li {
  float: left;
  display: inline-block;
  text-align: center
}
.social {
  text-align: center;
  font-size: 20px;
}
.padding_right{
  padding-right: 30px;
}
.container{
  max-width: 98%;
  width: 600px;
  margin: auto;
}
.inner{
  max-width: 100%;
  background-color: rgb(245,245,245);
  padding: 25px;
  border: 1px solid rgb(225,225,225);
  border-radius: 2px;
  margin-top: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1)
}
#cover_foto{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: url("images/cover.jpg") no-repeat fixed;
  background-position: calc(50% + 50px) -125px;
}
.profile{
  margin: auto;
  max-width: 300px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#profile{
  height: 500px;
  position: relative;
}
.profile img{
  border-radius: 50%;
  max-width: 50%;
}
.bottom {
  text-align: center;
}
.interests img{
  max-width: 200px;
}
.btn {
  background-color: #50808E;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 2px;
}
.btn:hover{
  background-color: rgb(20,20,20);
  color: white;
}
#sidebar {
  background-color: rgb(20,20,20);
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100px;
  text-align: center;
}
#page-content {
  margin-left: 125px;
}
#sidebar ul {
  list-style: none;
  padding-left: 0px;
}
#sidebar li {
  margin-top: 50px;
  margin-bottom: 50px;
}
#sidebar a {
  color: rgb(245,245,245);
  font-size: 25px;
}
#sidebar a:hover {
  color: #50808E;
}
.mobile{
  display: none;
}
@media (max-width: 600px) {
  /* For a screen < 600px, this CSS will be read */
  body{
    background-color: rgb(75,75,75);
  }
  .mobile{
    display: block;
  }
  .interests img{
    max-width: 100%;
  }
  .desktop{
    display: none;
  }
  #sidebar {
    width: 40px;
  }
  #sidebar a {
    font-size: 20px;
  }
  #page-content {
    margin-left: 65px;
  }
  .profile{
    left: 0;
  }
  #cover_foto{
    background-position: calc(50% + 25px) 50%;
  }
}
